@font-face {
  font-family: "Source Sans 3";
  src: url("./fonts/SourceSans3-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
}

:root {
  --font-primary: "Source Sans 3";
  --base-font-size: 18px;
}

* {
  font-family: var(--font-primary), system-ui, sans-serif;
}

.backgroundGrid {
  position: absolute;
  inset: 0;
  z-index: -9;
  background-size: 50px 50px;
  background-image:
          linear-gradient(rgba(200,200,200,.1) 1px, transparent 1px),
          linear-gradient(to right, rgba(200,200,200,.1) 1px, transparent 1px);
}

[data-theme="dark"] .backgroundGrid {
  background-image:
          linear-gradient(rgba(200,200,200,.03) 1px, transparent 1px),
          linear-gradient(to right, rgba(200,200,200,.03) 1px, transparent 1px);
}
